@use './variables' as var

main
    display: flex
    height: 100vh
    .line-numbers
        padding-inline: 2rem
        background-color: var.$base03
        color: var.$base00
        font-weight: bold
    .text-box
        padding: .25rem
        flex: 1
        background-color: var.$base02