@use './variables' as var
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap')

*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: var.$font-stack

textarea
    border: none
    outline: none
    resize: none